@import '../styles/variables';

@keyframes loaderSpinner {
	0%,
	10%,
	100% {
		opacity: 1;
	}
	95% {
		opacity: 0.04;
	}
}

// loader spinner time
$spinTime: 0.7s;

.preloader {
	position: fixed;
	inset: 0;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background-color: $bg-main;
	display: flex;
	justify-content: center;
	align-items: center;

	&__spinner {
		position: relative;
		flex-shrink: 0;
		@include squareSize(56px);

		// .preloader__spinner-span
		&-span {
			@include squareSize(100%);
			position: absolute;
			left: 0;
			top: 0;
			animation: loaderSpinner $spinTime infinite cubic-bezier(0.4, 0, 0.2, 1) both;

			// Dynamically set spans based on totalSpans variable
			transform: rotate(calc(var(--index) * (360deg / var(--preloader-spans))));
			animation-delay: calc(-#{$spinTime} + var(--index) * (#{$spinTime} / var(--preloader-spans)));

			&:before {
				content: ' ';
				display: block;
				margin: 0 auto;
				width: 1px;
				height: 16px;
				border-radius: 2px;
				background-color: $light-color;
			}
		}
	}
}
